* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-image: url('./assets/background_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat:  no-repeat;
	background-attachment: fixed;
}
